<h2>List of places you have been to</h2>

<% @list.each do |place| %>
    <h4><a href="/places/<%= place.id %>"><%= place.name %></a></h4>
<% end %>

<h4>Add an item to the list:</h4>

<form action="/" method="post">
    <div class="form-group">
        <label for="name">Name</label>
        <input id="name" name="name" class="form-control" type="text">
    </div>
    <button type="submit" class="btn">Go!</button>
</form>