<h3>Calculate the volume and shipping cost for your parcel.</h3>
<hr />
<form action="/output">
    <div class="form-group">
        <label for="length">Length of your parcel in inches</label>
        <input id="l" name="length" class="form-control" type="text">
    </div>
    <div class="form-group">
        <label for="width">Width of your parcel in inches</label>
        <input id="w" name="width" class="form-control" type="text">
    </div>
    <div class="form-group">
        <label for="height">Height of your parcel in inches</label>
        <input id="h" name="height" class="form-control" type="text">
    </div>
    <div class="form-group">
        <label for="weight">Weight of your parcel in ounces</label>
        <input id="e" name="weight" class="form-control" type="text">
    </div>
    <div class="form-group">
        <label for="distance">Distance parcel is being shipped in miles</label>
        <input id="d" name="distance" class="form-control" type="text">
    </div>
    <button type="submit" class="btn">Submit</button>
</form>