<h3>Complete the maze!</h3>
<h3>You are currently in room 1</h3>

<h3>You have two options available: a left path and a right path.</h3>
<h3>Which do you choose?</h3>

<form action='/result' method='post'>
    <input id="l" name="left" class="btn" type="submit" value="Left!">
    <input id="r" name="right" class="btn" type="submit" value="Right!">
</form>