<h1>Answer the riddle of the Sphinx correctly to enter the city Thebes!</h1>

<h3>What walks on four legs in the morning, two legs at noon, and three legs in the evening?</h3>

<form action="/result" method="post">
    <div class="form-group">
        <label for="answer">Enter your answer here!</label>
        <input id="a" name="answer" class="form-control" type="text">
    </div>
    <button type="submit" class="btn">Go!</button>
</form>