<h1>Enter three lengths of the sides of a triangle and find out what kind of triangle it is</h1>

<form action="/output" method="post">
    <div class="form-group">
        <label for="side_1">Side 1 of your triangle</label>
        <input id="1" name="side_1" class="form-control" type="text">
    </div>
    <div class="form-group">
        <label for="side_2">Side 2 of your triangle</label>
        <input id="2" name="side_2" class="form-control" type="text">
    </div>
    <div class="form-group">
        <label for="side_3">Side 3 of your triangle</label>
        <input id="3" name="side_3" class="form-control" type="text">
    </div>
    <button type="submit" class="btn">Submit</button>
</form>